{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'japan_foods/style.css' %}"/>
    <title>Document</title>
</head>
<body dir = "rtl">
    <h2>
        ספר מתכונים יפן
    </h2>
    <div class="button-container">
        <a href="{% url 'japan_foods:add_post' %}" class="add_post">הוסף מנה לספר המתכונים</a>
    </div>


    <form action="" method="get" class = 'form-container'>
        <input type="text" name="q" placeholder="חפש אוכל..." required>
        <button type="submit">חיפוש</button>
    </form>

    {% for food in menu %}
    <div class = "food-item">
        <h3>מנה: {{ food.food_name }}</h3>
        <p>מצרכים: {{ food.ingredients }}</p>
        <p>מתכון: {{ food.recepie }}</p>
        <p>דירוג: {{ food.rating }}</p>
    </div>
    {% endfor %}

</body>
</html>