<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/single-post.css' %}" />
  </head>
  <body>
    <div class="post-container">
      <a href="{% url 'blog:edit_post' post.id %}" class="edit-post-link" title="ערוך פוסט">
        <i class="fas fa-pencil-alt"></i>
      </a>
      <h1 class="post-title">{{ post.title }}</h1>
      <div class="post-content">{{ post.content }}</div>
      <div class="post-meta">
        נכתב על ידי {{ post.author }} | עודכן ב- {{ post.updated_at|date:"d/m/Y H:i" }}
      </div>
    </div>
  </body>
</html>
